/* START CSS VARIABLES */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59f0a;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --background-color: #eee;
    --main-transition: .3s;
}

/* END CSS VARIABLES */



/* START Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    display: flex;
    min-height: 100vh
}

/* END Global Rules */




/* START Sidebar */
.sidebar {
    background-color: white;
    width: 225px;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
    position: relative;
}

.sidebar .logo {
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}

.sidebar .logo::before,
.sidebar .logo::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}

.sidebar .logo::before {
    width: 90px;
    height: 2px;
    bottom: -20px;
}

.sidebar .logo::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -29px;
}

.sidebar .menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: black;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 5px;
    transition: var(--main-transition);
}

.sidebar .menu li a.active,
.sidebar .menu li a:hover {
    background-color: #f6f6f6;
}

@media (max-width: 767px) {
    .sidebar {
        padding: 10px;
        width: 58px
    }

    .sidebar .logo {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .sidebar .logo::before,
    .sidebar .logo::after {
        display: none;
    }

    .sidebar .menu li a span {
        display: none;
    }
}

/* END Sidebar */




/* START Content Area */
.content {
    flex: 1;
}

/* END Content Area */




/* START Topbar */
.content .topbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 20px;
    align-items: center;
}

.content .topbar form {
    position: relative;
}

.content .topbar form::before {
    content: "\f002";
    font: var(--fa-font-solid);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 15px;
    font-size: 14px;
    color: var(--grey-color);
}

.content .topbar form input {
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 160px;
    transition: var(--main-transition);
}

.content .topbar form input:focus {
    width: 200px;
}

@media (max-width: 767px) {
    .content .topbar form input:focus {
        width: 180px;
    }
}

.content .topbar form input:focus::placeholder {
    color: transparent;
}

.content .topbar .icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.content .topbar .icons .notifications {
    font-size: 20px;
    position: relative
}

.content .topbar .icons .notifications::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    top: -2px;
    right: -5px;
}

.content .topbar .icons>a img {
    width: 32px;
    height: 32px;
}

/* END Topbar */




/* START Main Heading */
h1.main-heading {
    position: relative;
    margin: 20px 20px 40px;
}

h1.main-heading::before,
h1.main-heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;

}

h1.main-heading::before {
    width: 120px;
    background-color: white;
}

h1.main-heading::after {
    width: 40px;
    background-color: black;
}

/* END Main Heading */




/* START Dashboard Content */
.wrapper {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.wrapper>div,
.projects {
    background-color: white;
    border-radius: 10px;
}

.wrapper>div:not(:first-of-type),
.projects {
    padding: 20px;
}

.projects {
    margin: 20px;
}

@media (max-width: 767px) {
    .projects {
        margin: 10px;
    }
}

.welcome {
    overflow: hidden;
}

.welcome .head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background-color);
    position: relative;
}

.welcome .head .text span {
    display: block;
    margin: 5px 0 15px;
    color: var(--grey-color);
}

.welcome .head .welcome-img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .head .avatar {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px #ddd;
}

@media (max-width: 767px) {
    .welcome .head .welcome-img {
        display: none;
    }

    .welcome .head .avatar {
        left: 50%;
        transform: translate(-50%, 50%);
    }
}


.welcome .infos {
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.welcome .infos>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

@media (max-width: 767px) {
    .welcome .infos {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .welcome .infos>div {
        gap: 5px;
    }
}

.welcome .infos>div span:last-child {
    font-size: 14px;
    color: var(--grey-color);
}

.widget-btn {
    display: block;
    background-color: var(--blue-color);
    color: white;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 14px;
    width: fit-content;
    margin: 20px 20px 20px auto;
    transition: background-color var(--main-transition)
}

.widget-btn:hover {
    background-color: var(--blue-alt-color);
}


/* ============================================ */


.quick-draft>p {
    color: var(--grey-color);
    margin: 10px 0 20px;
    font-size: 15px;
}

.quick-draft form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-draft form input[type="text"],
.quick-draft form textarea {
    background-color: var(--background-color);
    border: none;
    border-radius: 6px;
    padding: 10px;
}

.quick-draft form textarea {
    height: 180px;
    resize: none;
}

.quick-draft form input[type="submit"] {
    align-self: flex-end;
    margin: 0;
    border: none;
    cursor: pointer;
}


/* ============================================ */


.yearly-targets>p {
    color: var(--grey-color);
    margin: 10px 0 20px;
    font-size: 15px;
}

.yearly-targets .target {
    display: flex;
    align-items: center;
    gap: 15px;
}

.yearly-targets .target:not(:last-of-type) {
    margin-bottom: 20px;
}

.yearly-targets .target>i {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.yearly-targets .target:first-of-type>i {
    background-color: rgb(0 117 255 / 20%);
    color: var(--blue-color);
}

.yearly-targets .target:nth-of-type(2)>i {
    background-color: rgb(245 159 10 / 20%);
    color: var(--orange-color);
}

.yearly-targets .target:last-of-type>i {
    background-color: rgb(34 197 94 / 20%);
    color: var(--green-color);
}

.yearly-targets .target .prog {
    flex: 1;
}

.yearly-targets .target .prog .target-name {
    display: block;
    font-size: 14px;
    color: var(--grey-color);
    margin-bottom: 5px;
}

.yearly-targets .target .prog .target-num {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.yearly-targets .target .prog .prog-bar {
    height: 4px;
    background-color: #eee;
}

.yearly-targets .target:first-of-type .prog .prog-bar {
    background-color: rgb(0 117 255 / 20%);
}

.yearly-targets .target:nth-of-type(2) .prog .prog-bar {
    background-color: rgb(245 159 10 / 20%);
}

.yearly-targets .target:last-of-type .prog .prog-bar {
    background-color: rgb(34 197 94 / 20%);
}

.yearly-targets .target .prog .prog-bar span {
    display: block;
    height: 100%;
    position: relative;
}

.yearly-targets .target .prog .prog-bar span::before {
    content: attr(data-prog);
    position: absolute;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    font-size: 13px;
    color: white;
    border-radius: 6px;
    padding: 2px 5px;
}

.yearly-targets .target .prog .prog-bar span::after {
    content: '';
    position: absolute;
    top: -13.4px;
    /* -35px top of before + 21.6 height of before = -13.4px*/
    right: 0;
    transform: translateX(50%);
    border-style: solid;
    border-width: 6px;
}

.yearly-targets .target:first-of-type .prog .prog-bar span,
.yearly-targets .target:first-of-type .prog .prog-bar span::before {
    background-color: var(--blue-color);
}

.yearly-targets .target:nth-of-type(2) .prog .prog-bar span,
.yearly-targets .target:nth-of-type(2) .prog .prog-bar span::before {
    background-color: var(--orange-color);
}

.yearly-targets .target:last-of-type .prog .prog-bar span,
.yearly-targets .target:last-of-type .prog .prog-bar span::before {
    background-color: var(--green-color);
}

.yearly-targets .target:first-of-type .prog .prog-bar span::after {
    border-color: var(--blue-color) transparent transparent;
}

.yearly-targets .target:nth-of-type(2) .prog .prog-bar span::after {
    border-color: var(--orange-color) transparent transparent;
}

.yearly-targets .target:last-of-type .prog .prog-bar span::after {
    border-color: var(--green-color) transparent transparent;
}


/* ============================================ */


.tickets-stats>p {
    color: var(--grey-color);
    margin: 10px 0 20px;
    font-size: 15px;
}

.tickets-stats .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 767px) {
    .tickets-stats .stats {
        grid-template-columns: 1fr;
    }
}

.tickets-stats .stats .stat {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.tickets-stats .stat:first-of-type i {
    color: var(--orange-color);
}

.tickets-stats .stat:nth-of-type(2) i {
    color: var(--blue-color);
}

.tickets-stats .stat:nth-of-type(3) i {
    color: var(--green-color);
}

.tickets-stats .stat:last-of-type i {
    color: var(--red-color);
}

.tickets-stats .stat .number {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.tickets-stats .stat .text {
    color: var(--grey-color);
}


/* ============================================ */


.latest-news .box {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.latest-news .box:not(:first-of-type) {
    margin-top: 20px;
    border-top: 1px solid var(--background-color);
}

.latest-news .box>img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}

@media (max-width: 767px) {
    .latest-news .box {
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }

    .latest-news .box>img {
        width: 100%;
    }
}

.latest-news .box .text {
    flex: 1;
}

.latest-news .box .text h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.latest-news .box .text p {
    font-size: 14px;
    color: var(--grey-color);
}

.latest-news .box .date {
    font-size: 13px;
    background-color: var(--background-color);
    padding: 4px 10px;
    border-radius: 6px;
}


/* ============================================ */


.latest-tasks>h2 {
    margin-bottom: 20px;
}

.latest-tasks .task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.latest-tasks .task:not(:last-of-type) {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--background-color);
}

.latest-tasks .task.done {
    opacity: .3;
}

.latest-tasks .task .text {
    flex: 1;
}

.latest-tasks .task.done .text {
    text-decoration: line-through;
}

.latest-tasks .task .text h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.latest-tasks .task .text p {
    color: var(--grey-color);
}

.latest-tasks .task>i {
    cursor: pointer;
    transition: color var(--main-transition);
}

.latest-tasks .task>i:hover {
    color: var(--red-color);
}


/* ============================================ */


.top-searched h2 {
    margin-bottom: 20px;
}

.top-searched .items-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.top-searched .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.top-searched .item>span:last-child {
    display: block;
    padding: 4px 10px;
    background-color: var(--background-color);
    border-radius: 6px;
    font-size: 13px;
}


/* ============================================ */


.latest-uploads h2 {
    margin-bottom: 20px;
}

.latest-uploads .box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.latest-uploads .box:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--background-color);
}

.latest-uploads .box>img {
    width: 40px;
    height: 40px;
}

.latest-uploads .box .infos {
    flex: 1;
}

.latest-uploads .box .infos>span:last-child {
    display: block;
    color: var(--grey-color);
    font-size: 15px;
}

.latest-uploads .box .size {
    padding: 4px 10px;
    background-color: var(--background-color);
    border-radius: 6px;
    font-size: 13px;
}


/* ============================================ */


.project-progress {
    position: relative
}

.project-progress>img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    opacity: .1;
}

.project-progress h2 {
    margin-bottom: 20px;
}

.project-progress ul {
    position: relative
}

.project-progress ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 11px;
    height: 95%;
    width: 2px;
    background-color: var(--blue-color);
}

.project-progress ul li {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.project-progress ul li::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    z-index: 1
}

.project-progress ul li.finished::before {
    background-color: var(--blue-color);
}

.project-progress ul li.in-progress::before {
    animation: change-background .8s infinite alternate;
}


/* ============================================ */


.reminders h2 {
    margin-bottom: 20px;
}

.reminders .reminder {
    display: flex;
    align-items: center;
    gap: 15px;
}

.reminders .reminder:not(:last-of-type) {
    margin-bottom: 15px;
}

.reminders .reminder .circle {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.reminders .reminder:first-of-type .circle {
    background-color: var(--blue-color);
}

.reminders .reminder:nth-of-type(2) .circle {
    background-color: var(--green-color);
}

.reminders .reminder:nth-of-type(3) .circle {
    background-color: var(--orange-color);
}

.reminders .reminder:last-of-type .circle {
    background-color: var(--red-color);
}

.reminders .reminder .text {
    padding-left: 15px;
    border-left: 2px solid;
}

.reminders .reminder:first-of-type .text {
    border-left-color: var(--blue-color);
}

.reminders .reminder:nth-of-type(2) .text {
    border-left-color: var(--green-color);
}

.reminders .reminder:nth-of-type(3) .text {
    border-left-color: var(--orange-color);
}

.reminders .reminder:last-of-type .text {
    border-left-color: var(--red-color);
}

.reminders .reminder .text h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.reminders .reminder .text span {
    font-size: 13px;
    color: var(--grey-color);
}


/* ============================================ */




/* END Dashboard Content */



/* START Animations */
@keyframes change-background {
    to {
        background-color: var(--blue-color);
    }
}

/* END Animations */